<ion-content class="ion-padding">
  @if (isLoading) {
    <div>Cargando...</div>
  } @else {
    <h2>Login</h2>
  
    <ion-item>
      <ion-input label="Correo" [value]="username()" (ionInput)="onUsernameChange($event)" placeholder="Ingresa tu correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" [value]="password()"   (ionInput)="onPasswordChange($event)" placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item>

    <ion-button
      expand="full"
      [disabled]="isLoading"
      color="primary"
      (click)="onLogin()"
    >
      Iniciar sesión
    </ion-button>
  }
</ion-content>