<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false" color="light">
  <div class="content-center">
    <form [formGroup]="form">
      <ion-input shape="round" class="custom" mode="md" label="Correo" fill="outline" type="email" placeholder="Ingresa tu correo" formControlName="email"></ion-input>
      <br>
      <ion-input shape="round" class="custom" mode="md" label="Contraseña" fill="outline" type="password" placeholder="Ingresa tu contraseña" formControlName="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light">
    <ion-button
      shape="round"
      expand="block"
      color="primary"
      (click)="onLogin()"
      [disabled]="form.invalid"
    >
      Iniciar sesión
    </ion-button>
    <ion-button
      expand="block"
      fill="clear"
      color="secondary"
      (click)="onSignUp()"
    >
      Registrarse
    </ion-button>
  </ion-toolbar>
</ion-footer>