<ion-content class="ion-padding" [fullscreen]="false" [scrollY]="false">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
            <ion-input label="Correo" type="email" [value]="username()" (ionInput)="onUsernameChange($event)" placeholder="Ingresa tu correo"></ion-input>
        </ion-item>

        <ion-item lines="none">
           <ion-input label="Contraseña"  type="password" [value]="password()"   (ionInput)="onPasswordChange($event)" placeholder="Ingresa tu contraseña">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
           </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      [disabled]="isLoading"
      color="primary"
      (click)="onLogin()"
    >
      Iniciar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>