.content-center {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    flex-direction: column;
}

ion-input.custom {
  --placeholder-color: #969696;
  --placeholder-opacity: 1;
}