<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen Semanal</ion-card-title>
      <ion-card-subtitle>{{ summary().start }} → {{ summary().end }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list inset="false">
        <ion-item lines="none">
          <ion-label>Total Gastado</ion-label>
          <ion-note slot="end" color="danger">${{ summary().total }}</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Número de gastos</ion-label>
          <ion-note slot="end">{{ summary().count }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="openNewExpenseModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
