<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Nuevo Gasto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-list inset="true">
      <ion-item>
        <ion-input label="Monto" type="number" formControlName="amount" placeholder="$"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime-button datetime="date" slot="end"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="date" presentation="date" formControlName="date" [showDefaultButtons]="true" doneText="Confirmar" cancelText="Cancelar"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>

    <ion-list inset="true">
      <ion-item>
        <ion-textarea label="Descripción" formControlName="description" placeholder="Ej. Gasolina, comida, papelería..." labelPlacement="floating" rows="5"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="save()" [disabled]="form.invalid" class="ion-padding-horizontal">
      Guardar
    </ion-button>
  </form>
</ion-content>